.App {
  text-align: center;
}

#logo {
  background-image: url(./logo.png);
}
.App-logo {
  margin-top: 10px;
  height: 17vmin;}


.App-header {

   
 
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}


