/* @import "fonts.css"; */


@font-face {
  font-family: 'angryBirds';
  src: local('angryBirds'),
       url('./fonts/angryBirds.ttf') format('ttf');     
}

.App {
  text-align: center;
}


.App-logo {
  margin-top: 10px;
  height: 17vmin;}


.App-header {

   
 
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.capuche {
  font-family: "angryBirds";
}

a {
  text-decoration: none;
  font-family: "angryBirds";
  color: #EF5C18;
}

a:hover {
  text-decoration: none;
  font-family: "angryBirds";
  color: #FDCC9B;
}



